{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            {% for element in products %}
            <div class="col-xs-12 col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h1 class="card-title">Name: {{element.name}}</h1>
                    <p class="card-text">Price: {{element.price}}</p>
                    <p class="card-text">Stock: {{element.stock}}</p>
                    <a href="/products/update-product/{{element.id}}" class="btn btn-primary">Editar</a>
                    <a href="/products/delete-product/{{element.id}}" class="btn btn-danger">Borrar</a>
                    </div>
                </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
